picture img{
  border-radius: 1rem;
  max-height: 70vh;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

.page {
  position: relative;
  top: -3.5rem;
  background-color: #FCFCFC ;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 10;
}

.presentation{
  text-align: center;
  font-family: "Playfair Display", serif;
}

.presentation h1{
  margin: 0.5rem;
}
.presentation p{
  color: var(--clr-primary);
  font-style: italic;
}

.left-section{
  margin-top: 1rem;
}

.left-section > h2{
  background-color: var(--clr-primary);
  padding: 0.5rem;
  position: relative;
  left: -2.5rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: var(--clr-gold);
  font-family: "Playfair Display", serif;
}

.left-section > .section-icon{
  display: block;
  background-color: var(--clr-primary);
  padding: 0.25rem 0;
  width: 1.5rem;
  position: relative;
  left: -2.5rem;
  margin-top: 0.2rem;
  border-radius: 1rem 0 0 1rem;
  z-index: 3;
}

.left-section > .section-content{
  margin-top: .5rem;
  display: flex;
  flex-direction: column-reverse;
}

.section-content ul{
  margin: 0.5rem 0;
  border-left: .2rem solid var(--clr-primary);
  padding: 0.5rem 0 0.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.carrusel-bkg{
  background-color: var(--clr-bg);
  width: 100%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: .3rem;
  position: absolute;
}

.carrusel{
  position: relative;
  width: 100%;
  height: 20vh;
  margin-bottom: 0.5rem;
}

.carrusel img{
  position: absolute;
  max-height: 80%;
  width: 80%;
  max-width: 80%;
  object-fit: cover;
  object-position: center;
  border-radius: .3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carrusel-buttons-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: .6rem;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carrusel-buttons-container span{
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  cursor: pointer;
  background-color: var(--clr-primary);
  opacity: 0.5;
}

.carrusel-buttons-container span.active-button{
  opacity: 1;
}

/***/

.right-section{
  margin-top: 1rem;
}

.right-section > h2{
  background-color: var(--clr-primary);
  padding: 0.5rem;
  position: relative;
  right: -2.5rem;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  color: var(--clr-gold);
  font-family: "Playfair Display", serif;
}

.right-section > .section-icon{
  display: block;
  background-color: var(--clr-primary);
  padding: 0.25rem 0;
  width: 1.5rem;
  position: relative;
  right: calc(-100% - 1rem);
  margin-top: 0.2rem;
  border-radius: 0 1rem 1rem 0;
  z-index: 3;
}

.right-section > .section-content{
  margin-top: .5rem;
  display: flex;
  flex-direction: column;
}

.pie {
  font-family: "Playfair Display", serif;
  color: var(--clr-primary);
  text-align: center;
  font-size: large;
  margin: 1.5rem;
  font-style: italic;
}

/**/
.check-container{
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: var(--clr-primary);
}

.check-container .check-bkg{
  background-color: var(--clr-bg);
  padding: 1rem;
  border-radius: .5rem;
  width: 40%;
  max-width: 40%;
}

.turismo{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.turismo article h3{
  background-color: var(--clr-primary);
  font-family: "Playfair Display", serif;
  color: var(--clr-gold);
  padding: 0.5rem;
  width: 100%;
  margin: 1rem auto;
  border-radius: .5rem;
}

.turismo article h4{
  margin: 1rem;
}

.turismo article p{
  margin: 1rem;;
}

.turismo article a{
  color: var(--clr-gold);
  font-weight: bold;
}
/* media para 48 rem*/
@media (min-width: 48rem){
  .page {
    top: -5.5rem;
  }

  .presentation h1{
    font-size: x-large;
  }

  .left-section > h2{
    width: 60%;
    margin-top: 2rem;
  }

  .right-section > h2{
    width: 60%;
    margin-left: auto;
    margin-top: 2rem;
  }

  picture img{
    border-radius: 1rem;
    max-height: 60vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .left-section > .section-content{
    flex-direction: row;
    padding: 0 1rem;
  }

  .right-section > .section-content{
    flex-direction: row;
    padding: 0 1rem;
  }

  .right-section .section-content ul{
    border-left: none;
    border-right: .2rem solid var(--clr-primary);
    text-align: end;
    padding-right: .5rem;
  }

  .carrusel{
    width: 70%;
    height: auto;
  }

  .check-container .check-bkg{
    background-color: var(--clr-bg);
    padding: 1rem;
    border-radius: .5rem;
    width: 15%;
    max-width: 15%;
  }

  .check-bkg i{
    font-size: larger;
  }
}

.turismo article h3{
  width: 50%;
  margin-top: 2.5rem;
}

@media (min-width: 64rem){
  .page {
    top: -10rem;
  }

  picture img{
    border-radius: 1rem;
    max-height: 75vh;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }

  .carrusel{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 40vh;
  }

  

  .right-section .section-content ul{
    justify-content: center;
    gap: 1rem;
    padding-right: 1.5rem;
  }

  .left-section .section-content ul{
    justify-content: center;
    gap: 1rem;
    padding-left: 1.5rem;
  }
}


@media (min-width: 90rem){
  .page {
    top: -8.5rem;
    width: 90%;
  }

  picture img{
    max-height: 55vh;
  }

  .section-content ul{
    width: 40%;
    max-width: 40%;
  }

  .left-section > h2{
    width: 50%;
  }

  .right-section > h2{
    width: 50%;
  }

  .carrusel{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    max-height: 40vh;
  }
}