// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Importar abstractos
@import "abstracts/_variables.scss";
@import "abstracts/_mixins.scss";

/* Estilos globales para todas las páginas */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--clr-bg);
}

ul, ol {
	list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: calc(100% - (1.5rem * 2));
  margin-left: auto;
  margin-right: auto;

  @include tablet {
    max-width: calc(100% - (3rem * 2));
  }

  @include large-desktop {
    max-width: 80rem;
  }
}

// Navegación
header {
  position: sticky;
  top: 0;
  background-color: var(--clr-bg);
  transition: box-shadow 250ms ease;
  z-index: 10;

  &.scrolled {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;

  .logo-container {
    width: 3.5rem;

    svg .cls-1, svg .cls-2 {
      fill: var(--clr-dark);
    }
  }

  .menu-navigator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    transition: clip-path 0.3s ease, visibility 1ms ease 0.5s;
    clip-path: circle(0% at 100% 0%);

    .menu {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      color: var(--clr-gold);
      font-size: 1.5rem;
      font-family: 'Playfair Display', serif;

      li {
        position: relative;
      }

      li:after {
        position: absolute;
        content: "";
        display: block;
        width: 0%;
        height: 0.15rem;
        background-color: var(--clr-gold);
        margin-top: 0.25rem;
        transition: width 150ms ease;

      }

      li:hover::after, li:focus::after { width: 100%; }

      li.active {
        font-weight: bold;

        &:after {
          width: 100%;
        }
      }
    }
  }

  .menu-toggle {
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;

    span {
      display: block;
      width: 1.5rem;
      height: 0.2rem;
      background-color: var(--clr-dark);
      transition: transform 250ms ease, opacity 100ms ease, background-color 250ms ease 100ms;
      transform-origin: 1px 1px;

      &:not(:last-child) {
        margin-bottom: 0.3rem;
      }
    }
  }

  // Navegación abierto
  &.open {
    .menu-navigator {
      visibility: visible;
      transition: clip-path 0.5s ease;
      clip-path: circle(100% at 50% 50%);
    }

    .menu-toggle {
      span {
        background-color: var(--clr-bg);
        transition: transform 250ms ease, opacity 100ms ease, background-color 100ms ease;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  @include min-media-query(31rem) {
    .logo-container {
      width: 5.5rem;
    }

    .menu-navigator {
      position: unset;
      visibility: visible;
      clip-path: unset;
      width: unset;
      height: unset;
      background-color: unset;

      .menu {
        flex-direction: row;
        font-size: 1rem;
        color: var(--clr-dark);
        gap: 1.5rem;
        font-weight: 500;

        li:after {
          margin-top: 0.2rem;
          background-color: var(--clr-dark);
          height: 1px;
        }
      }
    }

    .menu-toggle {
      display: none;
    }

  }

}

// TODO: Borrar
img {
  max-width: 100%;
  height: auto;
}