// Importar abstractos
@import "abstracts/_variables.scss";
@import "abstracts/_mixins.scss";

/* Estilos globales para todas las páginas */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--clr-bg);
}

ul, ol {
	list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: calc(100% - (1.5rem * 2));
  margin-left: auto;
  margin-right: auto;

  @include desktop {
    max-width: calc(100% - (3rem * 2));
  }

  @include large-desktop {
    max-width: 80rem;
  }
}

// Navegación
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;

  .logo-container {
    width: 3.5rem;

    svg .cls-1, svg .cls-2 {
      fill: var(--clr-dark);
    }
  }

  .menu-navigator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    transition: clip-path 0.3s ease, visibility 1ms ease 0.5s;
    clip-path: circle(0% at 100% 0%);

    .menu {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      color: var(--clr-gold);
      font-size: 1.5rem;

      li.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  .menu-toggle {
    position: relative;
    z-index: 1;
    background-color: transparent;
    border: none;

    span {
      display: block;
      width: 1.5rem;
      height: 0.2rem;
      background-color: var(--clr-dark);
      transition: transform 250ms ease, opacity 100ms ease, background-color 250ms ease 100ms;
      transform-origin: 1px 1px;

      &:not(:last-child) {
        margin-bottom: 0.3rem;
      }
    }
  }

  // Navegación abierto
  &.open {
    .menu-navigator {
      visibility: visible;
      transition: clip-path 0.5s ease;
      clip-path: circle(100% at 50% 50%);
    }

    .menu-toggle {
      span {
        background-color: var(--clr-bg);
        transition: transform 250ms ease, opacity 100ms ease, background-color 100ms ease;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

// TODO: Borrar
img {
  max-width: 100%;
  height: auto;
}
#map-continer {
  overflow: hidden;
}